<div>
    <div class="col-md-5 col-md-offset-4">
        <div class="col-md-12" ng-show="authCtrl.errorctrl.status" ng-message="show">
            <div class="alert alert-{{authCtrl.errorctrl.type}}" role="alert">
                <button type="button" class="close" ng-click="authCtrl.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{authCtrl.errorctrl.type| uppercase}}</strong> {{authCtrl.errorctrl.msg}}
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Password assistance</h2>
                </div>
                <div class="panel-body">
                    <p>Enter the email address associated with your account, then click <strong>Send Email</strong>. We'll send you a link to a page where you can easily create a new password.</p>
                    <form name="forgotPassform" accept-charset="UTF-8" role="form">
                        <div class="form-group">
                            <input class="form-control" required ng-model="user.email" placeholder="Email" name="email" type="email">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" ng-click="authCtrl.forgotPass(user)" type="submit" value="Send Email">
                        <input class="btn btn-lg btn-default btn-block" ng-click="authCtrl.goBack()" type="submit" value="Go Back">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

